@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to candidate finder</h1>
    <p>Access <a href="@Url.Action("Index", "Jobs")">job list</a></p>
</div>
