
@{
    ViewData["Title"] = "Job list";
}

@model CandidateFinder.UI.Models.JobIndexViewModel

<h1>Current jobs</h1>

<div class="job-list">
    <h2>Select a job to find most qualified candidates</h2>

    @foreach (var job in Model.Jobs)
    {
        @Html.ActionLink(string.Format("{0} at {1}", job.Name, job.Company), "Details", new { id = job.Id })
    }
</div>